<h2><color="red">ABOUT THIS PROJECT</color></h2>
<ul>
  <li>Programmer: Mallik EBadat</li>
  <li>Designer: Ibadat</li>
  <li>Grahics Designer: Mallik</li>
</ul>
<%= link_to 'Home', root_path %>
<%= image_tag 'light_bulb_by_vvolny.jpg' %>
